<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="gcalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<gcalc.Properties.Settings>
			<setting name="FontHeight" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="FontFace" serializeAs="String">
				<value>Courier New</value>
			</setting>
			<setting name="FileName" serializeAs="String">
				<value>gcalc.txt</value>
			</setting>
		</gcalc.Properties.Settings>
	</userSettings>
	<startup/></configuration>
